<div>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">RealTimeProducts</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/carrito">CARRITO</a>
        </li>
        
    </div>
  </div>
</nav>
    <h1>Real Time Products</h1>

    <h2>Agregar nuevo producto</h2>
    <form id="formNewProduct">
        <input type="text" name="title" placeholder="ingrese el titulo" required>
        <input type="text" name="description" placeholder="ingrese la descripcion" required>
        <input type="text" name="code" placeholder="ingrese el codigo" required>
        <input type="number" name="price" placeholder="ingrese el precio" required>
        <input type="number" name="stock" placeholder="ingrese el stock" required>
        <input type="text" name="category" placeholder="ingrese la categoria" required>

        <button type="submit">Enviar</button>

    </form>

    <section class="container">
        <h2>Lista de Productos</h2>
        <ul class="list-group gap-2" id="productList"></ul>
    </section>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>
